.u-section-1 .u-sheet-1 {
  min-height: 118px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0 28px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -35px auto 0 358px;
}

.u-section-1 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: -52px 0 25px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 23px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -100px;
    margin-right: 58px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -79px;
    margin-right: 19px;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -45px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-left: auto;
    padding: 10px 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 9px;
  }
}.u-section-2 {
  background-image: url("images/5bdc64b39dea01541170355.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 497px;
}

.u-section-2 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 135px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 166px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 85px 174px 0 78px;
}

.u-section-3 .u-group-1 {
  width: 509px;
  min-height: 161px;
  margin: 60px auto 0 53px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px 18px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  min-height: 409px;
  background-image: url("images/forex-trading_orig.jpeg");
  background-position: 40.27% 50%;
  background-size: auto 115%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 108px;
    margin-left: 11px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 32px;
  }

  .u-section-3 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 413px;
}

.u-section-4 .u-form-1 {
  height: 313px;
  margin: 50px 0 0 570px;
}

.u-section-4 .u-text-1 {
  margin: -196px 780px 167px 91px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 629px;
    margin-bottom: 60px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-left: 350px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -222px;
    margin-right: 420px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-form-1 {
    width: 370px;
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 240px;
    margin-top: -389px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 94px;
    margin-left: 66px;
  }
}